<table class='university'>
  <thead>
    <tr>
      <th rowspan='2'>Всего по университету</th>
      <th>прошедшая неделя</th>
      <th>с начала семестра</th>
      <th rowspan='2'>всего студентов</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Faculty.all.each do |faculty| %>
      <tr>
        <td><%= faculty %></td>
        <td><%= faculty.average_attendance_from_last_week %></td>
        <td><%= faculty.average_attendance_from_semester_begin %></td>
        <td><%= faculty.students.count %></td>
      </tr>
      <% faculty.groups.group_by(&:course).sort.each do |course, groups| %>
        <tr>
          <td><%= "#{course} курс" %></td>

          <td>
            <%= "%.1f%" % (groups.count.zero? ? 0 : Group.where(:id => groups.map(&:id)).map(&:average_attendance_from_last_week).map(&:to_f).sum/groups.count) %>
          </td>

          <td>
            <%= "%.1f%" % (groups.count.zero? ? 0 : Group.where(:id => groups.map(&:id)).map(&:average_attendance_from_semester_begin).map(&:to_f).sum/groups.count) %>
          </td>

          <td>
            <%= Student.where(:group_id => groups.map(&:id)).count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
