<div class="filters">
  <%= date_filters %>
</div>

<div class="table-responsive">
  <% if @students.any? %>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <td>ФИО студента</td>
          <td>Номер группы</td>
          <td>Посещено занятий, %</td>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td>
              <% group = student.groups.first %>
              <%= link_to student, dean_subdepartment_course_group_student_path(group.subdepartment.abbr, group.course, group.number, student.to_s) %>
            </td>
            <td><%= student.actual_group %></td>
            <td><%= student.total_attendance(@params[:from], @params[:to]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="empty">
      <%= I18n.t("empty.#{controller_name}") %>
    </div>
  <% end %>
</div>
<%= paginate @students %>
