<% if @students.any? %>
  <div class="filters">
    <%= date_filters %>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <td>ФИО студента</td>
          <td>Номер группы</td>
          <td>Посещено занятий, %</td>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student %></td>
            <td><%= student.actual_group %></td>
            <td><%= Statistic::Student.new(student).total_attendance(from: @params[:from], to: @params[:to]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @students %>
<% else %>
  <div class="empty">
    <%= I18n.t("empty.#{controller_name}") %>
  </div>
<% end %>
