<%= @group.number  %>
<% @group.lessons.pluck(:date_on).uniq.each do |date| %>
  <%= link_to date, group_leader_lessons_path(:by_date => date) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <% @lessons.each do |lesson| %>
        <th>
          <div>
            <%= lesson.discipline.title %>
          </div>
          <div class='check_helper'>
            <%= link_to "Все были",    check_all_group_leader_lesson_presences_path(lesson), :class => 'check_all' %>
            <%= link_to "Все не были", uncheck_all_group_leader_lesson_presences_path(lesson), :class => 'uncheck_all' %>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @group.people.each do |student| %>
      <tr>
        <td><%= student %></td>
        <% @lessons.each do |lesson| %>
          <td class='presence_cell'>
            <%= render :partial => 'group_leader/presences/presence', :locals => { :presence => lesson.presences.by_student(student), :lesson => lesson } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
