<div class="calendar_wrapper">
  <%= l @date, :format => '%d %B %Y' %>

  <div class="calendar_viewport">
    <div class='calendar'>
      <div class='months'>
        <% (@date.beginning_of_year..@date.end_of_year).group_by(&:month).each do |month, days| %>
          <div class="month">
            <div class="month_title">
              <%= I18n.t('date.month_names')[month] %>
            </div>

            <div class="day_names">
              <% I18n.t("date.abbr_day_names").rotate(1).each do |day_name| %>
                <div class="day_name">
                  <%= day_name %>
                </div>
              <% end %>
            </div>

            <div class="days">

              <% (days.first.wday-1).times do %>
                <div class="day empty"></div>
              <% end %>

              <% days.each do |day| %>
                <% if @lessons_groupped_by_day[day].nil? %>
                  <div class="day weekend">
                    <%= day.day %>
                  </div>
                <% else %>
                  <div class="<%= day_classes(@lessons_groupped_by_day, day) %>">
                    <%= link_to day.day, group_leader_lessons_path(:by_date => day) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <% @lessons.each do |lesson| %>
        <th>
          <%= lesson.realizes.first %>
          <%= link_to 'изменить', change_group_leader_lesson_realizes_path(lesson), :data => { :confirm => t('confirm.realize') } %>
          <div>
            <%= lesson.discipline.title %>
          </div>
          <div class='check_helper'>
            <%= link_to "Все были",    check_all_group_leader_lesson_presences_path(lesson), :class => 'check_all' %>
            <%= link_to "Все не были", uncheck_all_group_leader_lesson_presences_path(lesson), :class => 'uncheck_all' %>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @group.students.each do |student| %>
      <tr>
        <td><%= student %></td>
        <% @lessons.each do |lesson| %>
          <td class='presence_cell'>
            <%= render :partial => 'group_leader/presences/presence', :locals => { :presence => lesson.presences.select{|p| p.student_id == student.id }.first, :lesson => lesson } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
