<ul>
  <li><%= link_to "Студенты пропускающие занятия", manage_faculty_losers_students_path(@faculty) %></li>
  <li><%= link_to 'Старосты незаполнившие журнал', manage_statistics_faculty_group_leaders_path(@faculty) %></li>
  <li><%= link_to 'Преподаватели пропускающие занятия', manage_statistics_lecturers_path %></li>
</ul>

<table class='faculty'>
  <thead>
    <tr>
      <th rowspan='2' class='faculty_title'><%= resource %></th>
      <th class='gray'>
        за период
        <%= render :partial => 'search_form', :locals => { :path => manage_faculty_path(@faculty) } %>
      </th>
      <th rowspan='2' class='grey'>Староста</th>
    </tr>
    <tr>
      <th class='faculty_aaflwb'><%= resource.average_attendance_by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)) %></th>
    </tr>
  </thead>
  <tbody>
    <% resource.groups.group_by(&:course).sort.each do |course, groups| %>
      <tr class='course'>
        <td class='course_number'><%= "#{course} курс" %></td>
        <td class='course_aaflwb'>
          <%= resource.average_attendance_by_period_for_course((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end), course) %>
        </td>
        <td></td>
      </tr>
      <% groups.each do |group| %>
        <tr class='group'>
          <td class='group_number'>
            <%= link_to group, [:manage, resource, group] %>
          </td>
          <td class='group_aaflwb'>
            <%= group.average_attendance_by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)) %>
          </td>
          <td>
            <% if group.permissions.any? %>
              <%= render group.permissions %>
            <% else %>
               <%= link_to 'Добавить', new_manage_group_group_leader_permission_path(group)  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
