<ul>
  <li><%= link_to "Студенты пропускающие занятия", manage_faculty_losers_students_path(@faculty) %></li>
  <li><%= link_to "Преподаватели пропускающие занятия", manage_faculty_losers_lecturers_path(@faculty) %></li>
  <li><%= link_to "Старосты не заполнившие журнал", manage_faculty_losers_group_leaders_path(@faculty) %></li>
</ul>
<table class='faculty'>
  <thead>
    <tr>
      <th rowspan='2' class='faculty_title'><%= resource %></th>
      <th class='grey'>прошедшая неделя</th>
      <th class='grey'>с начала семестра</th>
    </tr>
    <tr>
      <th class='faculty_aaflwb'><%= resource.average_attendance_from_last_week %></th>
      <th class='faculty_aafsb'><%= resource.average_attendance_from_semester_begin %></th>
    </tr>
  </thead>
  <tbody>
    <% resource.groups.group_by(&:course).sort.each do |course, groups| %>
      <tr class='course'>
        <td class='course_number'><%= "#{course} курс" %></td>
        <td class='course_aaflwb'>
          <%= resource.average_attendance_from_last_week_for(course) %>
        </td>
        <td class='course_aafsb'>
          <%= resource.average_attendance_from_semester_begin_for(course) %>
        </td>
      </tr>
      <% groups.each do |group| %>
        <tr class='group'>
          <td class='group_number'>
            <%= link_to group, [:manage, resource, group] %>
          </td>
          <td class='group_aaflwb'>
            <%= group.average_attendance_from_last_week %>
          </td>
          <td class='group_aafsb'>
            <%= group.average_attendance_from_semester_begin %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

