<div class="breadcrumbs">
  <ul>
    <% if current_user.manager? || current_user.administrator? %>
      <li class='with_rarr'><%= link_to 'Статистика ВУЗа', manage_root_path %></li>
    <% end %>
    <% if current_user.faculty_worker? %>
      <li class='with_rarr'><%= link_to "Факультет #{current_user.permissions.first.context.abbr}", manage_faculty_path(current_user.permissions.first.context.abbr) %></li>
    <% end %>
    <li>Преподаватели пропустившие занятия</li>
  </ul>
</div>

<h5 class='center'>Преподаватели пропустившие занятия</h5>

<%= render :partial => 'search_form', :locals => { :path => manage_statistics_lecturers_path } %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Дата</th>
      <th>Дисциплина</th>
      <th>Вид занятия</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% index = 0 %>
    <% @faculties.each do |faculty, lecturers| %>
      <tr>
        <% if can?(:read, faculty) %>
          <td colspan='6' style='font-weight: bold;'><%= link_to faculty, manage_statistics_faculty_lecturers_path(faculty.abbr) %></td>
        <% else %>
          <td colspan='6' style='font-weight: bold;'><%= faculty %></td>
        <% end %>
      </tr>

      <% if lecturers.any? %>
        <% lecturers.sort_by{ |l, v| l.surname }.each do |lecturer, lessons| %>
          <tr>
            <td colspan='5' style='font-weight: bold;'><%= lecturer %></td>
          </tr>
          <% next if lessons.empty? %>
          <% lessons.uniq.sort_by(&:date_on).each do |lesson| %>
            <tr>
              <td><%= index += 1 %></td>
              <td><%= l lesson.date_on, :format => '%e.%m.%y' %></td>
              <td><%= lesson.discipline %></td>
              <td><%= lesson.kind.text %></td>
              <td><%= raw lessons.uniq.flat_map(&:group).uniq.map{|g| can?(:read, g) ? link_to(g.to_s, manage_group_scoped_lessons_path(g, lesson.date_on)) : g}.join(', ') %></td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan='5'>Нет преподавателей пропустивших занятия</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
