<ul>
  <li><%= link_to 'Старосты незаполнившие журнал', manage_statistics_group_leaders_path %></li>
  <li><%= link_to 'Преподаватели пропускающие занятия', manage_statistics_lecturers_path %></li>
</ul>

<h5>Преподаватели пропустившие занятия</h5>

<%= render :partial => 'search_form', :locals => { :path => manage_statistics_lecturers_path } %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Дата</th>
      <th>Дисциплина</th>
      <th>Вид занятия</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% index = 0 %>
    <% @faculties.each do |faculty, lecturers| %>
      <tr>
        <td colspan='6' style='font-weight: bold;'><%= link_to faculty, manage_statistics_faculty_lecturers_path(faculty.abbr) %></td>
      </tr>

      <% lecturers.sort_by{ |l, v| l.surname }.each do |lecturer, lessons| %>
        <tr>
          <td colspan='5' style='font-weight: bold;'><%= lecturer %></td>
        </tr>
        <% next if lessons.empty? %>
        <% lessons.uniq.sort_by(&:date_on).each do |lesson| %>
          <tr>
            <td><%= index += 1 %></td>
            <td><%= l lesson.date_on, :format => :long %></td>
            <td><%= lesson.discipline %></td>
            <td><%= lesson.kind.text %></td>
            <td><%= lessons.flat_map(&:group).map(&:to_s).join(', ') %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
