<div>
  <%= link_to 'Назад к факультету', manage_faculty_path(@faculty) %>
</div>

<%= render :partial => 'search_form', :locals => { :path => manage_statistics_lecturers_path(@faculty.abbr) } %>

<h5>Преподаватели <%= @faculty.abbr %> пропустившие занятия</h5>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Дата</th>
      <th>Дисциплина</th>
      <th>Вид занятия</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% index = 0 %>
    <% @lecturers.sort_by{ |l, v| l.surname }.each do |lecturer, lessons| %>
      <% next if lessons.empty? %>
      <tr>
        <td colspan='5' style='font-weight: bold;'><%= lecturer %></td>
      </tr>
      <% lessons.uniq.sort_by(&:date_on).each do |lesson| %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= l lesson.date_on, :format => :long %></td>
          <td><%= lesson.discipline %></td>
          <td><%= lesson.kind_text %></td>
          <td><%= lessons.flat_map(&:group).map(&:to_s).join(', ') %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

