<%= content_for :main_wrapper_width, 'wide' %>
<div class="breadcrumbs">
  <ul>
    <li class='with_rarr'><%= link_to @faculty, [:manage, @faculty] %></li>
    <li>Преподаватели пропускающие занятия</li>
  </ul>
</div>

<h5 class='center'>Преподаватели пропустившие занятия на прошлой неделе:</h5>
<% if @lecturers.any? %>
  <% @lecturers.each do |lecturer| %>
    <h5 style='text-align:center; margin-top: 25px'><%= lecturer.fio %></h5>
    <table style='margin-bottom: 45px;'>
      <thead>
        <tr>
          <th>Дата</th>
          <th>Дисциплина</th>
          <th>Вид занятия</th>
          <th>Группа</th>
        </tr>
      </thead>
      <tbody>
        <% lecturer.losed_lessons.group_by(&:date_on).each do |_, lessons| %>
          <% lessons.group_by(&:order_number).each do |_, lessons| %>
            <% lessons.group_by(&:kind).each do |_, lessons| %>
              <tr>
                <td><%= l lessons.first.date_on %></td>
                <td><%= lessons.first.discipline.title %></td>
                <td><%= lessons.first.kind_text %></td>
                <td>
                  <%= lessons.map(&:group).map{ |g| link_to g, manage_group_scoped_lessons_path(g, lessons.first.date_on) }.join(', ').html_safe %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <div class="empty">Никто не пропускал занятия</div>
<% end %>
