<%= content_for :main_wrapper_width, 'wide' %>
<div class="breadcrumbs">
  <ul>
    <li class='with_rarr'><%= link_to @faculty, [:manage, @faculty] %></li>
    <li>Преподаватели пропускающие занятия</li>
  </ul>
</div>

<h5 class='center'>Преподаватели пропустившие занятия на прошлой неделе:</h5>
<% if @lessons.any? %>
  <table>
    <thead>
      <tr>
        <th>Дата</th>
        <th>ФИО преподавателя</th>
        <th>Дисциплина</th>
        <th>Группа</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.group_by(&:date_on).sort.each do |date_on, lessons| %>
        <% lessons.group_by(&:discipline).sort.each do |discipline, lessons| %>
          <tr>
            <td><%= l date_on %></td>
            <td>
              <%= lessons.flat_map(&:lecturers).map(&:fio).uniq.join(', ') %>
            </td>
            <td>
              <%= discipline %>
            </td>
            <td>
              <%= lessons.flat_map(&:group).map(&:to_s).uniq.join(', ') %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">Никто не пропускал занятия</div>
<% end %>
