<%= content_for :main_wrapper_width, 'wide' %>
<div class="breadcrumbs">
  <ul>
    <li class='with_rarr'><%= link_to @faculty, [:manage, @faculty] %></li>
    <li>Студенты пропускающие занятия</li>
  </ul>
</div>

<h3 class='center'>Студенты пропустившие более 20% занятий на прошлой неделе</h3>
<% if @students.any? %>
  <table>
    <thead>
      <tr>
        <th>ФИО студента</th>
        <th>Кол-во пропущенных занятий</th>
        <th>Группа</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= student.fio %>
          </td>
          <td>
            <%= student.lose_count %>
          </td>
          <td>
            <%= link_to student.group, manage_faculty_group_path(@faculty, student.group) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">Никто не пропускал занятия</div>
<% end %>
