<table class='university'>
  <thead>
    <tr>
      <th rowspan='2'>Всего по университету</th>
      <th>прошедшая неделя</th>
      <th>с начала семестра</th>
      <th rowspan='2'>всего студентов</th>
    </tr>
    <tr>
      <th><%= "%.1f%" % (Presence.from_last_week.was.count.to_f*100/Presence.from_last_week.count) %></th>
      <th><%= "%.1f%" % (Presence.from_semester_begin.was.count.to_f*100/Presence.from_semester_begin.count) %></th>
    </tr>
  </thead>

  <tbody>
    <% Faculty.all.each do |faculty| %>
      <tr>
        <td><%= link_to faculty.title, manage_faculty_path(faculty) %></td>
        <td><%= faculty.average_attendance_from_last_week %></td>
        <td><%= faculty.average_attendance_from_semester_begin %></td>
        <td><%= faculty.students.count %></td>
      </tr>
      <% faculty.groups.group_by(&:course).sort.each do |course, groups| %>
        <tr>
          <td><%= "#{course} курс" %></td>

          <td>
            <%= faculty.average_attendance_from_last_week_for(course) %>
          </td>

          <td>
            <%= faculty.average_attendance_from_semester_begin_for(course) %>
          </td>

          <td>
            <%= Student.where(:group_id => groups.map(&:id)).count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
