<ul>
  <li><%= link_to 'Старосты незаполнившие журнал', manage_statistics_group_leaders_path %></li>
  <li><%= link_to 'Преподаватели пропускающие занятия', manage_statistics_lecturers_path %></li>
  <li><%= link_to 'Представители деканатов', manage_faculty_worker_permissions_path %></li>
</ul>

<h5 class='center'>Статистика ВУЗа</h5>

<table class='university'>
  <thead>
    <tr>
      <th rowspan='2'>Всего по университету</th>
      <th>
        за период
        <%= render :partial => 'search_form', :locals => { :path => manage_root_path } %>
      </th>
      <th rowspan='2'>всего студентов</th>
    </tr>
    <tr>
      <th><%= Presence.by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)).any? ? "%.1f%" % (Presence.by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)).was.count.to_f*100/Presence.by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)).count) : '0.0%' %></th>
    </tr>
  </thead>

  <tbody>
    <% Faculty.all.each do |faculty| %>
      <tr>
        <td><%= link_to faculty.title, manage_faculty_path(faculty) %></td>
        <td><%= faculty.average_attendance_by_period((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end)) %></td>
        <td><%= faculty.students.count %></td>
      </tr>
      <% faculty.groups.group_by(&:course).sort.each do |course, groups| %>
        <tr>
          <td><%= "#{course} курс" %></td>

          <td>
            <%= faculty.average_attendance_by_period_for_course((params[:starts_on].try(:to_date) || Presence.last_week_begin), (params[:ends_on].try(:to_date) || Presence.last_week_end), course) %>
          </td>

          <td>
            <%= Student.where(:group_id => groups.map(&:id)).count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
