<%= content_for :page_title do %>
  <h1 class="text-center">Статистика посещаемости факультета <%= @faculty %></h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<%= line_chart @attendance_by_date %>

<h1 class="text-center">Статистика посещаемости по группам факультета <%= @faculty %></h1>

<%= bar_chart  @attendance_by_groups %>
