<div class='esp_auth_header_wrapper'>
  <div class='esp_auth_header'>
    <% if current_user %>
      <% controller_namespace = controller_path.split('/').map(&:inquiry) %>
      <div class='navigation'>
        <% if can? :manage, :application %>
          <% if current_user.group_leader? %>
            <% if current_user.permissions.count > 1 %>
              Система управления:
              <% current_user.permissions.each do |permission| %>
                <%= link_to "гр. #{permission.context.number}", manage_group_scoped_lessons_path(permission.context) %>
              <% end %>
            <% else %>
              <%= link_to 'Система управления', manage_group_scoped_lessons_path(current_user.permissions.first.context) %>
            <% end %>
          <% elsif current_user.study_department_worker? %>
            <%= link_to 'Система управления', manage_root_path %>
          <% elsif current_user.faculty_worker? %>
            <%= link_to 'Система управления', manage_faculty_path(current_user.permissions.first.context) %>
          <% end %>
        <% end %>
      </div>
      <div class='auth'>
        <span class='current_user'><%= current_user %></span>
        <%= link_to('Выход', esp_auth.destroy_user_session_path) %>
      </div>
    <% else %>
      <div class='auth'>
        <%= link_to 'Вход в систему', user_omniauth_authorize_path(:identity)  %>
      </div>
    <% end %>
  </div>
</div>
