<td class="discipline">
  <%= realize.lesson.discipline.title %>
</td>
<td><%= realize.lesson.group %></td>
<td><%= realize.lesson.kind_abbr %></td>

<td class="date"><%= I18n.l(realize.lesson.date_on) %></td>

<%= render :partial => 'subdepartment/subdepartment_declarations/declaration', :locals => { :subdepartment_declaration => realize.subdepartment_declaration, :realize => realize } %>

<td class="status">
  <%= I18n.t("realize.approved.#{realize.approved}") %>
</td>
