<%= content_for :page_title do %>
  <h1>Сорванные преподавателями занятия на кафедре <%= current_user.subdepartments.first %></h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-disruptions subdepartment">
    <thead>
      <tr>
        <td>Преподаватель / Дисциплина</td>
        <td>Дата</td>
        <td>Объяснительная зав.кафедры</td>
        <td colspan="2">Объяснительная преподавателя</td>
        <td>Уважительная причина</td>
      </tr>
    </thead>
    <tbody>
      <% @disruptions.each do |group| %>
        <tr class="teacher">
          <td colspan="3"><%= group.value %></td>
        </tr>
        <% group.results.each do |realize| %>
          <tr class="lesson">
            <td class="discipline truncated">
              <%= realize.lesson.discipline.title %>
              <%= " (#{realize.lesson.kind_abbr})" %>
            </td>
            <td class="date"><%= I18n.l(realize.lesson.date_on) %></td>

            <% if realize.subdepartment_declaration.present? %>
              <td class="declaration truncated btn-link js-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= realize.subdepartment_declaration.reason %>">
                <%= realize.subdepartment_declaration.reason %>
              </td>

              <td class="actions">
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,
                            edit_subdepartment_realize_subdepartment_declaration_path(realize, realize.subdepartment_declaration) %>

                <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,
                            subdepartment_realize_subdepartment_declaration_path(realize, realize.subdepartment_declaration), :method => :delete %>
              </td>
            <% else %>
              <td colspan="2">
                <%= link_to "Добавить объяснительную", new_subdepartment_realize_subdepartment_declaration_path(realize), :class => 'btn btn-default btn-xs btn-declaration' %>
              </td>
            <% end %>

            <% if realize.lecturer_declaration.present? %>
              <td class="declaration truncated btn-link js-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= realize.lecturer_declaration.reason %>">
                <%= realize.lecturer_declaration.reason %>
              </td>
            <% else %>
              <td>
                Нет
              </td>
            <% end %>

            <td class="status">
              <% if realize.approved.nil? %>
                -
              <% elsif realize.approved %>
                Да
              <% else %>
                Нет
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @disruptions %>
</div>
