<%= render 'commons/calendar' %>

<%= content_for :page_title do %>
  <h1><%= page_title(@group.number) %></h1>
<% end %>

<div class="table-responsive">
  <table class="table table-condensed table-bordered table-lessons">
    <thead>
      <tr>
        <th class="caption">Список студентов</th>
        <% (1..7).each do |index| %>
          <% if @lessons_grouped_by_order[index.to_s] %>
            <% @lessons_grouped_by_order[index.to_s].each do |lesson| %>
              <th class="lesson-caption">
                <%= content_tag :span, lesson.realizes.first, :class => "lesson-realizes #{lesson.realizes.first.state}" %>
                <span class="lesson-info">
                  <%= content_tag(:span, I18n.t("lesson.time.#{lesson.order_number}"), :class => 'lesson-time') %>
                  <%= content_tag(:span, lesson.discipline.title, :class => 'lesson-discipline truncated') %>
                  <%= content_tag(:span, I18n.t("lesson.kind.#{lesson.kind}.name"), :class => 'lesson-kind truncated') %>
                  <%= content_tag(:span, lesson.lesson_lecturers, :class => 'lesson-lecturers truncated') %>
                </span>
              </th>
            <% end %>
          <% else %>
            <th class='lesson-caption'>
              <span class="lesson-info empty">
                <%= content_tag(:span, I18n.t("lesson.time.#{index}"), :class => 'lesson-time') %>
                <span class="lesson-discipline">нет пары</span>
              </span>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @group.students_at(@date).each do |student| %>
        <tr>
          <td class="student"><%= student %></td>
          <% (1..7).each do |index| %>
            <% if @lessons_grouped_by_order[index.to_s] %>
              <% @lessons_grouped_by_order[index.to_s].each do |lesson| %>
                <td class='js-presence-cell presence-cell'>
                  <%= render :partial => 'commons/presence', :locals => { :presence => lesson.presences.select{|p| p.student_id == student.id }.first, :lesson => lesson } %>
                </td>
              <% end %>
            <% else %>
                <td class='js-presence-cell presence-cell'>
                  &dash;
                </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
