<%= content_for :page_title do %>
  <h1 class="text-center"><%= I18n.t('page_title.disruptions.personal') %></h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-disruptions">
    <thead>
      <tr>
        <td>Дисциплина</td>
        <td>Дата</td>
        <td colspan="2">Объяснительная</td>
        <td>Уважительная причина</td>
      </tr>
    </thead>
    <tbody>
      <% @disruptions.each do |realize| %>
        <tr>
          <td class="discipline truncated">
            <%= realize.lesson.discipline.title %>
            <%= " (#{realize.lesson.kind_abbr})" %>
          </td>
          <td class="date"><%= I18n.l(realize.lesson.date_on) %></td>

          <% if realize.lecturer_declaration.present? %>
            <td class="declaration truncated btn-link js-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= realize.lecturer_declaration.reason %>">
              <%= realize.lecturer_declaration.reason %>
            </td>

            <td class="actions">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,
                          edit_lecturer_realize_lecturer_declaration_path(realize, realize.lecturer_declaration) %>

              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,
                          lecturer_realize_lecturer_declaration_path(realize, realize.lecturer_declaration),
                          :method => :delete %>
            </td>
          <% else %>
            <td colspan="2">
              <%= link_to "Добавить объяснительную", new_lecturer_realize_lecturer_declaration_path(realize), :class => 'btn btn-default btn-xs btn-declaration' %>
            </td>
          <% end %>

          <td class="status">
            <% if realize.approved.nil? %>
              -
            <% elsif realize.approved %>
              Да
            <% else %>
              Нет
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @disruptions %>
</div>
