<div class="tab-sidebar">
  <ul class='nav'>
    <% Permission.available_roles_for(:education_department).each do |role| %>
      <li <%= 'class=active' if params[:for_role] == role.to_s %>>
        <%= link_to I18n.t("role_names.#{role}"), education_department_permissions_path(:for_role => role) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <%= link_to "Добавить роль", new_education_department_permission_path(:for_role => params[:for_role]), :class => 'btn btn-primary btn-sm' if params[:for_role].present? %>

  <ul class="list ajaxed">
    <% if @permissions.any? %>
      <%= render @permissions %>
    <% else %>
      <li class="list-item empty"><%= I18n.t("empty.#{controller_name}") %></li>
    <% end %>
  </ul>

  <%= paginate @permissions %>
</div>
