<h5>Старосты незаполнившие журнал</h5>

<%= render :partial => 'search_form', :locals => { :path => manage_statistics_group_leaders_path } %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>ФИО старосты</th>
      <th>Дата</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% index = 0 %>
    <% @faculties.each do |faculty, groups| %>
      <tr>
        <td colspan='4' style='font-weight: bold;'><%= link_to faculty, manage_statistics_faculty_group_leaders_path(faculty.abbr) %></td>
      </tr>
      <% if Hash[groups].values.flatten.empty? %>
        <tr>
          <td colspan='4'>Все заполнено</td>
        </tr>
      <% else %>
        <% groups.each do |group, days| %>
          <% next if days.empty? %>
          <tr>
            <td><%= index += 1 %></td>
            <td><%= group.group_leaders.join(', ') %></td>
            <td><%= days.map{|d| l(d, :format => :long)}.join(', ') %></td>
            <td><%= group.number %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
