<div class="breadcrumbs">
  <ul>
    <% if current_user.manager? || current_user.administrator? %>
      <li class='with_rarr'><%= link_to 'Старосты незаполнившие журнал по ВУЗу', manage_statistics_group_leaders_path %></li>
    <% end %>
    <% if current_user.faculty_worker? %>
      <li class='with_rarr'><%= link_to "Факультет #{@faculty.abbr}", manage_faculty_path(@faculty.abbr) %></li>
    <% end %>
    <li>Старосты <%= @faculty.abbr %> незаполнившие журнал</li>
  </ul>
</div>

<h5 class='center'>Старосты <%= @faculty.abbr %> незаполнившие журнал</h5>

<%= render :partial => 'search_form', :locals => { :path => manage_statistics_faculty_group_leaders_path(@faculty.abbr) } %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>ФИО старосты</th>
      <th>Дата</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% index = 0 %>
    <% if @groups.values.flatten.empty? %>
      <tr>
        <td colspan='4'>Все заполнено</td>
      </tr>
    <% else %>
      <% @groups.each do |group, days| %>
        <% next if days.empty? %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= group.group_leaders.join(', ') %></td>
          <td><%= days.map{|d| l(d, :format => :long)}.join(', ') %></td>
          <td><%= group.number %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
