<%= content_for :page_title do %>
  <h1 class="text-center">Статистика посещаемости по университету</h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<%= line_chart @attendance_by_date %>

<h1 class="text-center">Статистика посещаемости по курсам</h1>
<%= bar_chart  @attendance_by_course %>

<h1 class="text-center">Статистика посещаемости по факультетам</h1>
<%= bar_chart  @attendance_by_faculty %>

<h1 class="text-center">Статистика посещаемости по кафедрам</h1>
<%= bar_chart  @attendance_by_subdepartment %>
