<h3>Сотрудники деканатов:</h3>
<table class='table table-bordered table-with-paddings subdepartment-contacts'>
  <tbody>
    <% grouped_permissions.each_slice(2) do |slice| %>
      <tr>
        <% slice.each do |department, contacts| %>
          <td>
            <div class='faculty'>
              <div class='logo logo-<%= Russian.transliterate(department.abbr).downcase %>'></div>
              <div class='title title-<%=  Russian.transliterate(department.abbr).downcase %>'>
                <%= department.abbr %>
              </div>
            </div>
            <% contacts.each do |contact|%>
              <% if contact.user && contact.user.fullname %>
                <p>
                  <%= link_to_if contact.user.try(:directory_id).present?,
                    contact.user.fullname,
                    "#{Settings['directory.url']}/people/#{contact.user.try(:directory_id)}",
                    target: :blank %>
                  <%= mail_to contact.user.email, contact.user.email %>
                </p>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
