<h3>Сотрудники кафедр:</h3>
<table class='table lecturer-contacts table-with-paddings table-v-center'>
  <tbody>
    <% grouped_permissions.group_by{|item| item.first.faculty}.each_with_index do |(department, subdepartments), index| %>
      <tr>
        <td colspan="2" class="visible-xs department-logo">
          <div class='faculty'>
            <div class='logo logo-<%= department.transliterated_abbr.downcase %>'></div>
            <div class='title title-<%= department.transliterated_abbr.downcase %>'>
              <%= department.abbr %>
            </div>
          </div>
        </td>
      </tr>
      <tr class='hidden-xs'>
        <td rowspan='<%= subdepartments.length + 1 %>' class="department-logo">
          <div class='faculty <%= department.transliterated_abbr.downcase %>'>
            <div class='logo logo-<%= department.transliterated_abbr.downcase %>'></div>
            <div class='title title-<%= department.transliterated_abbr.downcase %>'>
              <%= department.abbr %>
            </div>
          </div>
        </td>
      </tr>
      <% subdepartments.each do |subdepartment, permissions| %>
        <tr class='subdepartment'>
          <td>
            <%= subdepartment.title %> (<%= subdepartment.abbr %>)
          </td>
          <td>
            <% permissions.each do |permission| %>
              <% if permission.user.present? %>
                <p>
                  <%= link_to_if permission.user.try(:directory_id),
                                 permission.user.fullname,
                                 "#{Settings[:directory][:url]}people/#{permission.user.try(:directory_id)}",
                                 target: :blank %>

                  <%= mail_to permission.user.email, permission.user.email %>
                </p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

