<% @disruptions.each do |faculty, lecturers_with_realizes| %>
  <% next unless lecturers_with_realizes.any? %>
  <h4><%= faculty.title %></h4>

  <div class="table-responsive">
    <table class="table table-condensed table-disruptions">
      <thead>
        <tr>
          <td>Преподаватель / Дисциплина</td>
          <td>Дата</td>
          <td>Объяснительная зав.кафедры</td>
          <td>Объяснительная преподавателя</td>
          <td>Уважительная причина</td>
        </tr>
      </thead>
      <tbody>
        <% lecturers_with_realizes.each do |lecturer, realizes| %>
          <tr class="teacher">
            <td colspan="3"><%= lecturer.to_s %></td>
          </tr>
          <% realizes.each do |realize| %>
            <tr class="lesson">
              <td>
                <%= realize.lesson.discipline.title %>
                <%= " (#{realize.lesson.kind_abbr})," %>
                <%= "гр. #{realize.lesson.group}" %>
              </td>
              <td><%= I18n.l(realize.lesson.date_on) %></td>
              <td>
                <% if realize.subdepartment_declaration %>
                  <%= realize.subdepartment_declaration.reason %>
                <% else %>
                  Нет
                <% end %>
              </td>
              <td>
                <% if realize.lecturer_declaration %>
                  <%= realize.lecturer_declaration.reason %>
                <% else %>
                  Нет
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
