<% @disruptions.each do |faculty, lecturers_with_realizes| %>
  <% next unless lecturers_with_realizes.any? %>
  <h4><%= faculty.title %></h4>

  <div class="table-responsive">
    <table class="table table-condensed table-disruptions education-department">
      <thead>
        <tr>
          <td>Преподаватель / Дисциплина</td>
          <td>Дата</td>
          <td>Объяснительная зав.кафедры</td>
          <td>Объяснительная преподавателя</td>
          <td>Уважительная причина</td>
        </tr>
      </thead>
      <tbody>
        <% lecturers_with_realizes.each do |lecturer, realizes| %>
          <tr class="teacher">
            <td colspan="3"><%= lecturer.to_s %></td>
          </tr>
          <% realizes.each do |realize| %>
            <tr class="lesson">
              <td class="discipline truncated">
                <%= realize.lesson.discipline.title %>
                <%= " (#{realize.lesson.kind_abbr})," %>
                <%= "гр. #{realize.lesson.group}" %>
              </td>
              <td class="date"><%= I18n.l(realize.lesson.date_on) %></td>

              <% if realize.subdepartment_declaration %>
                <td class="btn-link js-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= realize.subdepartment_declaration.reason %>">
                  Посмотреть
                </td>
              <% else %>
                <td>Нет</td>
              <% end %>

              <% if realize.lecturer_declaration %>
                <td class="btn-link js-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= realize.lecturer_declaration.reason %>">
                  Посмотреть
                </td>
              <% else %>
                <td>Нет</td>
              <% end %>

              <td class="status">
                <% if realize.approved.nil? %>
                  <%= link_to "Да", accept_education_department_realize_path(realize), :class => 'btn btn-default btn-xs btn-accept' %>
                  <%= link_to "Нет", refuse_education_department_realize_path(realize), :class => 'btn btn-default btn-xs btn-refuse' %>
                <% elsif realize.approved %>
                  Да <%= link_to "изменить", change_education_department_realize_path(realize) %>
                <% else %>
                  Нет <%= link_to "изменить", change_education_department_realize_path(realize) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
