<%= content_for :page_title do %>
  <h1 class="text-center">
    <%= link_to_back %>
    Статистика посещаемости группы <%= @group %> <%= @discipline ? "дисциплины #{@discipline}" : '' %>
  </h1>
<% end %>

<%= charts %>
