<%= content_for :page_title do %>
  <h1 class="text-center"><%= page_title(@group.number) %></h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<%= line_chart @attendance_by_date %>

<h1 class="text-center">Посещаемость студентов группы <%= @group.number %></h1>

<%= bar_chart  @attendance_by_students %>
