<%= content_for :page_title do %>
  <h1 class="text-center">Посещаемость студента <%= @student %></h1>
<% end %>

<div class="filters">
  <%= date_filters %>
</div>

<%= line_chart  @attendance_by_date %>

<h1 class="text-center">Посещаемость по дисциплинам</h1>
<%= bar_chart   @attendance_by_discipline %>

<h1 class="text-center">Пропуски занятий</h1>
<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>Дисциплина</td>
        <td>Дата</td>
      </tr>
    </thead>
    <tbody>
      <% @omissions.each do |omission| %>
        <tr>
          <td>
            <%= omission.lesson.discipline.title %>
            <%= " (#{omission.lesson.kind_abbr})" %>
          </td>
          <td><%= I18n.l(omission.lesson.date_on)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
