<%= content_for :page_title do %>
  <h1 class="text-center"><%= @student %></h1>
<% end %>

<%= charts %>

<% if @omissions.any? %>
  <h2 class="text-center">Пропуски занятий</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <td>Дисциплина</td>
          <td>Дата</td>
        </tr>
      </thead>
      <tbody>
        <% @omissions.each do |omission| %>
          <tr>
            <td>
              <%= omission.lesson.discipline.title %>
              <%= " (#{omission.lesson.kind_abbr})" %>
              <%= content_tag :span, '(Уважительная причина)', :class => 'text-success' if @student.misses.by_date(omission.lesson.date_on).any? %>
            </td>
            <td>
              <%= I18n.l(omission.lesson.date_on) %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h2 class="text-center">Нет пропущенных занятий</h2>
<% end %>
