<div class="breadcrumbs">
  <ul>
    <li class='with_rarr'><%= link_to 'Статистика ВУЗа', manage_root_path %></li>
    <li>Представители деканатов</li>
  </ul>
</div>

<h5 class='center'>Представители деканатов</h5>

<table>
  <thead>
    <tr>
      <th>Факультет</th>
      <th>Представитель</th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td rowspan='<%= faculty.faculty_worker_permissions.count + 2 %>'><%= faculty %></td>
      </tr>
      <% faculty.faculty_worker_permissions.sort_by{|p| p.user.last_name}.each do |permission| %>
        <tr>
          <td>
            <%= permission %>
            <% if permission.user.last_sign_in_at %>
              <span class='last_log'>Последний вход: <%= l permission.user.last_sign_in_at, :format => :long %></span>
            <% end %>
            <%= link_to 'Удалить', manage_faculty_worker_permission_path(permission), :method => :delete, :confirm => 'Вы уверены?' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= link_to 'Добавить', new_manage_faculty_faculty_worker_permission_path(faculty) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
