<div class='sso_auth_header_wrapper'>
  <div class='sso_auth_header'>
    <% if current_user %>
      <% controller_namespace = controller_path.split('/').map(&:inquiry) %>
      <div class='navigation'>

        <% if can? :manage, :application %>

          <% if current_user.group_leader? %>
            <% if current_user.permissions.count > 1 %>
              Система управления:
              <% current_user.permissions.where(:role => :group_leader).each do |permission| %>
                <%= link_to "гр. #{permission.context.number}", manage_group_scoped_lessons_path(permission.context) %>
                <%= link_to "Незаполненные дни гр. #{permission.context.number}", not_marked_manage_group_path(permission.context) %>
              <% end %>
            <% else %>
              <%= link_to 'Система управления', manage_group_scoped_lessons_path(current_user.permissions.first.context) %>
              <%= link_to 'Незаполненные дни', not_marked_manage_group_path(current_user.permissions.first.context) %>
            <% end %>
          <% end %>

          <% if current_user.study_department_worker? %>
            <%= link_to 'Система управления', manage_root_path %>
          <% elsif current_user.faculty_worker? %>
            <%= link_to current_user.permissions.where(:role => :faculty_worker).first.context.abbr, manage_faculty_path(current_user.permissions.where(:role => :faculty_worker).first.context) %>
          <% elsif current_user.manager? %>
            <%= link_to 'Статистика по университету', manage_root_path %>
          <% end %>
        <% end %>

      </div>
      <div class='auth'>
        <%= render :partial => 'sso-auth/shared/user_box' %>
      </div>
    <% else %>
      <div class='auth'>
        <%= render :partial => 'sso-auth/shared/user_box' %>
      </div>
    <% end %>
  </div>
</div>
