<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "#{current_namespace}" %>
    <%= javascript_include_tag 'http://code.highcharts.com/highcharts.js', 'chartkick' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= current_namespace %>_namespace'>
    <div id="wrapper">
      <%= render 'navigation' %>

      <div class='container'>
        <%= render_menu(current_namespace) if current_namespace && current_namespace != :public %>
        <h1><%= page_title %></h1>
        <%= yield %>
      </div>
    </div>

    <%= render :partial => 'footer' %>

    <%= yield :stop_ie if content_for?(:stop_ie) %>

  </body>
</html>
