<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "#{current_namespace}" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>
  <body class='<%= current_namespace %>_namespace'>
    <div class='wrapper'>
      <%= render 'navigation' %>

      <div class='container'>
        <% if Time.zone.now < Time.zone.parse('2020-03-28 22:00') %>
          <div class='panel panel-danger margin-bottom-0 margin-top-20'>
            <div class='panel-heading text-center'>
            <a href="https://tusur.ru/ru/koronavirus">
                О мерах предупреждения распространения новой короновирусной инфекции в ТУСУРе
            </a>
            </div>
          </div>
        <% end %>

        <% if false %>
          <div class='panel panel-danger margin-top-20'>
            <div class='panel-heading text-center'>
              <p class='margin-bottom-10'>
                На текущий момент отображение статистики посещаемости
                может не соответсвовать действительности.
              </p>
              <p class='margin-bottom-10'>
                Производятся технические работы.
              </p>
              <p>
                Ориентировочное возобновление полноценной работы - 24 октября 2019 17:00.
              </p>
            </div>
          </div>
        <% end %>

        <% if content_for?(:page_title) %>
          <%= yield(:page_title) %>
        <% else %>
          <h1><%= page_title %></h1>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <% if flash['alert'] || flash['notice'] %>
      <div class='alert flash_message <%= flash['alert'] ? 'alert-danger' : 'alert-success' %>'>
        <%= flash['alert'] || flash['notice'] %>
      </div>
    <% end %>

    <%= render partial: 'footer' %>
    <%= render partial: 'metrika' %>

    <%= yield :stop_ie if content_for?(:stop_ie) %>

    <%= render partial: 'development' %>
  </body>
</html>
