<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "#{current_namespace}" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>
  <body class='<%= current_namespace %>_namespace'>
    <div class="wrapper">
      <%= render 'navigation' %>

      <div class='container'>
        <% if content_for?(:page_title) %>
          <%= yield(:page_title) %>
        <% else %>
          <h1><%= page_title %></h1>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <%= render :partial => 'footer' %>
    <%= render :partial => 'metrika' %>

    <%= yield :stop_ie if content_for?(:stop_ie) %>
  </body>
</html>
