<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="посещаемость, журнал, ТУСУР, студенты">
    <meta name="Description" content="Журнал посещаемости студентов ТУСУР">
    <meta http-equiv="content-language" content="ru">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='main_wrapper <%= yield :main_wrapper_width %>'>
      <div class="header">
        <a href="/" class="logo">Томский государственный университет систем управления и радиоэлектроники</a>
        <h1>Электронный журнал посещаемости студентов</h1>
        <%= render :partial => "esp_auth/shared/header" %>
      </div>

      <%= yield :search_form %>
      <%= yield :calendar %>
      <%= yield :content %>
    </div>
  </body>
</html>
