<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='main_wrapper <%= yield :main_wrapper_width %>'>
      <div class="header">
        <a href="/" class="logo">Томский государственный университет систем управления и радиоэлектроники</a>
        <h1>Электронный журнал посещаемости студентов</h1>
      </div>

      <%= yield :calendar %>

      <div class="content">
        <%= yield :content %>
      </div>
    </div>
  </body>
</html>
