<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="посещаемость, журнал, ТУСУР, студенты">
    <meta name="Description" content="Журнал посещаемости студентов ТУСУР">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="content-language" content="ru">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='main_wrapper <%= yield :main_wrapper_width %>'>
      <div class="header">
        <a href="/" class="logo">Томский государственный университет систем управления и радиоэлектроники</a>
        <h1>Электронный журнал посещаемости студентов</h1>
        <%= render :partial => "esp_auth/shared/header" %>
      </div>

      <%= yield :search_form %>
      <%= yield :calendar %>
      <%= yield :content %>
      <%= yield :video %>

      <div class="footer">
        По всем вопросам пишите на <a href='mailto:openteam@tusur.ru'>openteam@tusur.ru</a><br/>
        или создавайте тикеты на <a href='https://github.com/openteam-tusur/attendance/issues'>https://github.com/openteam-tusur/attendance/issues</a>
      </div>
    </div>
    <% if Rails.env.production? %>
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter17773429 = new Ya.Metrika({id:17773429, enableAll: true, webvisor:true});
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/17773429" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>
  </body>
</html>
