<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "public/application", :media => "all" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "public/application" %>
<% end %>

<%= content_for :content do %>
  <div class="content">
    <%= yield %>
    <h1>На сайте идут технические работы</h1>
    <p>Электронный журнал посещаемости студентов в данный момент недоступен, пожалуйста, повторите попытку позднее.</p>
    <p><a href="mailto:developers@openteam.ru">developers@openteam.ru</a></p>
  </div>
<% end unless controller_name.match(/application/) %>

<%= render :file => 'layouts/base' %>
