<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "public/application", :media => "all" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "public/application" %>
<% end %>

<%= content_for :search_form do %>
  <div class="search_form">
    <%= simple_form_for :student, :url => search_path, :html => { :method => :get, :novalidate => true } do |f| %>
      <%= f.input :search, :input_html => { :value => (params[:student][:search] if params[:student])} %>
      <div class="buttons">
        <%= f.submit 'Найти' %>
      </div>
    <% end %>
  </div>
<% end %>
<%= content_for :content do %>
  <div class="content">
    <%= yield %>
  </div>
<% end unless controller_name.match(/application/) %>

<%= content_for :video do %>
  <% if controller_name.match(/application/) %>
    <%= render :partial => "layouts/video" %>
  <% end %>
<% end %>

<%= render :file => 'layouts/base' %>
