<%= simple_form_for [:dean, @permission],
                    :url => dean_permissions_path(@permission, :for_role => params[:for_role]),
                    :html => { :class => 'form-horizontal form-permission' },
                    :wrapper => :horizontal_form do |f| %>

  <%= f.input :user_id,       :collection => User.all, :label_method => :sso_auth_name %>

  <div class="form-group">
    <span class="separator col-md-offset-1 col-md-5">или</span>
  </div>

  <%= f.input :email %>
  <%= f.input :context_id,    :collection => @context_ids, :label_method => :to_s if @context_ids %>
  <%= f.input :role,          :as => :hidden %>

  <%= f.submit 'Сохранить', :class => 'btn btn-primary btn-sm' %>
  <%= link_to 'Отмена', dean_permissions_path(:for_role => params[:for_role]), :class => 'btn btn-default btn-sm' %>
<% end %>
